<div *ngIf="!isLoading" class="container viewport-height">

  <!-- Page Heading/Breadcrumbs -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        {{farmer.name}}
      </h1>
      <ol class="breadcrumb">
        <li><a href="index.html">Home</a>
        </li>
        <li class="active">Portfolio Item</li>
      </ol>
    </div>
  </div>
  <!-- /.row -->

  <!-- Portfolio Item Row -->
  <div class="row">

    <div class="col-md-8">
      <img class="img-responsive" src="{{getPhotoUrl(farmer.landPhoto)}}" alt="">
    </div>

    <div class="col-md-4">
      <h3>Farmer Details</h3>
      <ol>
        <li><label>Name:</label> {{farmer.name}}</li>
        <li><label>Id Proof:</label> {{farmer.idProof}}</li>
        <li><label>Aadhar no:</label> {{farmer.aadharCard}}</li>
      </ol>
      <h3>Land Details</h3>
      <ol>
        <li>{{farmer.photo}}</li>
        <li>{{farmer.aadharCard}}</li>
        <li>{{farmer.landAddress}}</li>
        <li>{{farmer.landPhoto}}</li>
        <li>{{farmer.landReg}}</li>
        <li>{{farmer.landArea}}</li>
        <li>{{farmer.cropType}}</li>
        <li>{{farmer.cropPremium}}</li>
        <li>{{farmer.cropRisk}}</li>
        <li>{{farmer.crop}}</li>
        <li>{{farmer.cultivationDate}}</li>
        <li>{{farmer.harvestDate}}</li>
        <li>{{farmer.FEF}}</li>
        <li>{{farmer.donor}}</li>
      </ol>
    </div>
  </div>

  <div *ngIf="!isStatusLoading">
    <button *ngIf="paymentStatus.paymentStatus == '0' " (click)="insure()">Insure</button>
    <div *ngIf="paymentStatus.paymentStatus == '1'">Paid</div>
    <div *ngIf="paymentStatus.paymentStatus == '2'">Approved</div>
  </div>
</div>

