<div *ngIf="!isLoading">
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">
          {{farmer.name}}
        </h1>
        <ol class="breadcrumb">
          <li><a href="index.html">Home</a>
          </li>
          <li class="active">Portfolio Item</li>
        </ol>
      </div>
    </div>
    <!-- /.row -->

    <!-- Portfolio Item Row -->
    <div class="row">

      <div class="col-md-8">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <img class="img-responsive" src="http://placehold.it/750x500" alt="">
            </div>
            <div class="item">
              <img class="img-responsive" src="http://placehold.it/750x500" alt="">
            </div>
            <div class="item">
              <img class="img-responsive" src="http://placehold.it/750x500" alt="">
            </div>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
      </div>

      <div class="col-md-4">
        <h3>Project Description</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna
          varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu
          convallis placerat, felis enim.</p>
        <h3>Project Details</h3>
        <ul>
          <li>{{farmer.idProof}}</li>
          <li>{{farmer.photo}}</li>
          <li>{{farmer.aadharCard}}</li>
          <li>{{farmer.landAddress}}</li>
          <li>{{farmer.landPhoto}}</li>
          <li>{{farmer.landReg}}</li>
          <li>{{farmer.landArea}}</li>
          <li>{{farmer.cropType}}</li>
          <li>{{farmer.cropPremium}}</li>
          <li>{{farmer.cropRisk}}</li>
          <li>{{farmer.crop}}</li>
          <li>{{farmer.cultivationDate}}</li>
          <li>{{farmer.harvestDate}}</li>
          <li>{{farmer.FEF}}</li>
          <li>{{farmer.donor}}</li>
        </ul>
      </div>

    </div>

    <div *ngIf="!isStatusLoading">
      <button *ngIf="paymentStatus.paymentStatus == '0' " (click)="insure()">Insure</button>
      <div *ngIf="paymentStatus.paymentStatus == '1'">Paid</div>
      <div *ngIf="paymentStatus.paymentStatus == '2'">Approved</div>
    </div>
  </div>

</div>
