.idea
node_modules
jspm_packages
npm-debug.log
debug.log
src/app/**/*.js
src/main.js
dist/*
!src/systemjs.config.extras.js
!src/systemjs.config.js
*.js.map
e2e/**/*.js
e2e/**/*.js.map
_test-output
_temp
html/images/.DS_Store
