<div class="col-md-6 col-md-offset-3">
  <h2>Add a Farmer</h2>

  <div *ngIf="hasError" class="has-error">
    <div class="help-block">Enter all mandatory fields</div>
  </div>
  <form name="login" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
      <label>Farmer Name</label>
      <input type="text" class="form-control" name="username" [(ngModel)]="model.userName" #username="ngModel"
             required/>
      <div *ngIf="f.submitted && !userName.valid" class="help-block">User name is required</div>
    </div>

    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !landArea.valid }">
      <label>Land Area</label>
      <input type="text" class="form-control" name="landArea" [(ngModel)]="model.landArea" #password="ngModel"
             required/>
      <div *ngIf="f.submitted && !landArea.valid" class="help-block">Land Area is required</div>
    </div>

    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !image.valid }">
      <label for="image_file">Please select image file</label>
      <input type="file" name="image_file" id="image_file" onchange="fileSelected();"/>
    </div>


    <div class="form-group">
      <button class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
