.loader {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  font-weight: bold;
  background: url("../images/loading.gif") no-repeat;
  background-size: contain;
  transform: translate(-40px, -40px);
}

.label-wrap {
  display: flex;
  justify-content:center;
}
.label-wrap p {
  margin-bottom: 5px;
}

.label.risk-label {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 90%;
  text-transform: capitalize;
}

.thumbnail .img-wrap {
  width: 100%;
  min-height: 100px;
  max-height: 180px;
  overflow: hidden;
}
.premium {
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
  font-size: 14px;
}
.caption h3 {
  text-transform: capitalize;
  margin: 10px 0;
  font-weight: 300;
  font-size: 18px;
}

.caption h3 small {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: block;
  text-align: center;
  padding: 10px 10px 0;
}

.viewport-height {
  min-height: calc(100% - 37px );
}

.grey-box {
  background: #ece8e8;
  margin-top: 30px;
  border-radius: 10px;
}

.grey-box h2 {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  border-bottom: 1px solid #cccbcb;
}

.farmer-catalog {
  margin-bottom: 50px;
}

.search-block {
  background: #d8d8d8;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  width: 100%;
}

.search-block input {
  margin-right: 2%;
  height: 40px;
}

.search-block select {
  border: 1px solid #dddddd;
}

.no-result {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  color: red;
}

.action-button {
  text-align: center;
  margin: 20px 0 40px;
}
.action-button button {
  width: 200px;
  padding: 10px 15px;
}

.fixed-alert {
  position: fixed;
  top: 65px;
  z-index: 44;
  width: 80%;
  left: 10%;
}

.farmer-details h3 {
  margin: 0 0 10px;
  font-weight: 300;
  font-size: 20px;
  border-bottom: 1px solid #cac8c8;
  line-height: 1.5;
}

.farmer-details ul {
  padding: 0px 20px;
}

.farmer-details img {
  margin-bottom: 20px;
}
