<!-- Header Carousel -->
<div id="myCarousel" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <div class="fill" style="background-image:url('../../assets/images/slide1.jpg');"></div>
      <div class="carousel-caption">
        <h2>Save farmer !!<br> We can save the internet later...</h2>
      </div>
    </div>
    <div class="item">
      <div class="fill" style="background-image:url('../../assets/images/slide2.jpg');"></div>
      <div class="carousel-caption">
        <h2>If the farmer is poor <br> so is the whole country...</h2>
      </div>
    </div>
    <div class="item">
      <div class="fill" style="background-image:url('../../assets/images/slide3.jpg');"></div>
      <div class="carousel-caption">
        <h2>Our farmers deserve praise <br> Not Condemnation...</h2>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
  </a>
</div>
<farmer-catalog [emailId]=""></farmer-catalog>
