<div class="container viewport-height">
  <!-- Page Heading/Breadcrumbs -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">FAQ
      </h1>
    </div>
  </div>
  <!-- /.row -->

  <!-- Content Row -->
  <div class="row">
    <div class="col-lg-12">
      <div class="panel-group" id="accordion" *ngFor='let value of faqs; let i = index'>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse{{i}}">{{ value.question}}</a>
            </h4>
          </div>
          <div id="collapse{{i}}" class="panel-collapse collapse">
            <div class="panel-body">
             {{ value.answer }}
            </div>
          </div>
        </div>
      </div>
      <!-- /.panel-group -->
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->

  <hr>


</div>
