<div class="container farmer-catalog">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">Our Farmers</h2>
    </div>
    <!--<form class="navbar-form navbar-left" role="search" (ngSubmit)="search(searchByLocation.value)">-->
      <!--<div class="form-group">-->
        <!--Location:<input type="text" #searchByLocation class="form-control" placeholder="Search">-->
      <!--</div>-->
      <!--<label >Choose Crops</label>-->
      <!--<select>-->
        <!--<option *ngFor="let item of crops | keys" [value]="item.key">{{item.value}}</option>-->
      <!--</select>-->
      <!--<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>-->
    <!--</form>-->
    Location:<input type="text" #searchByLocation class="form-control" placeholder="Search" (keyup)="search(searchByLocation.value)">
    <label >Choose Crops</label>
    <select>
    <option *ngFor="let item of crops | keys" [value]="item.key">{{item.value}}</option>
    </select>
    <div class="col-md-4 text-center" *ngFor="let farmer of filteredFarmer">
      <farmer-card [farmer]="farmer"></farmer-card>
    </div>
  </div>
</div>
